<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fight Detection</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="../static/css/templatemo-style.css" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="../static/img/simple-house-01.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="../static/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Fight Detection</h1>
							</div>
						</div>
						<nav class="col-md-8 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="logs.html" class="tm-nav-link">Logs</a></li>
							
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Fight Detection Video Streams</h2>
				<p class="col-12 text-center">Vision-based activity recognition is one of the most challenging research topics of computer vision and pattern recognition. A specific application of it, namely, detecting fights from surveillance cameras in public areas, prisons, etc., is desired, to get violent incidents  under control quickly to reduce casualties.</p>
			</header>
			
			<!--<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">Pizza</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Salad</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Noodle</a></li>
					</ul>
				</nav>
			</div>-->

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					
				</div> <!-- gallery page 1 -->
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				<!-- gallery page 2 -->
				<div id="tm-gallery-page-salad" class="tm-gallery-page hidden">
					
				</div> <!-- gallery page 2 -->
				
				
				
				
				
				
				<!-- gallery page 3 -->
				<div id="tm-gallery-page-noodle" class="tm-gallery-page hidden">
					
				

				</div> <!-- gallery page 3 -->
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<!--<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="img/img-01.jpg" alt="Image" class="img-fluid" />
						</figure>
					</div>-->
					<div class="col-md-6">
						<div class="tm-description-box"> 
							<!--<h4 class="tm-gallery-title">Maecenas nulla neque</h4>
							<p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>-->
							
							<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     
		
		
	<div class="form-group ">

      <label class="control-label requiredField" for="path">
       Source
       <span class="asteriskField">
        *
       </span>
       </label>
		<input class="form-control" id="path" name="path" placeholder="Input Path here" type="text"/>
     </div>


     <div class="form-group ">
      <label class="control-label requiredField" for="seq">
       Sequence Length
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="seq" name="seq" placeholder="ex. 16" type="text"/>
     </div>




     <div class="form-group ">
      <label class="control-label requiredField" for="skip">
       Skipped Frames
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="skip" name="skip" placeholder="ex. 2" type="text"/>
     </div>




     <div class="form-group" id="div_radio">
      <label class="control-label requiredField" for="modes">
       Select a Mode
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="">
			<label class="radio-inline">
				<input name="modes" type="radio" value="Streaming"/>
				Streaming
			</label>

			<label class="radio-inline">
				<input name="modes" type="radio" value="Uploading"/>
				Uploading
			</label>
      </div>
     </div>






     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>





    </form>
   </div>
  </div>
 </div>
</div>

							
							
							
							
							
						</div>
					</div>
					
					
					
					<div class="col-md-4" >
						<figure class="tm-description-figure" >
							
							<img src="../static/img/fight.gif" alt="Image" class="img-fluid"  />
						</figure>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2021 ITI Fight Detection 
            
            <a rel="nofollow" href="https://github.com/MohamedSebaie/Fight_Detection_From_Surveillance_Cameras-PyTorch_Project">Fight Detection GitHub</a></p>
		</footer>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/parallax.min.js"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>