<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House - About Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link href="../static/css/all.min.css" rel="stylesheet" />
	<link href="../static/css/templatemo-style.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="../static/img/simple-house-01.jpg">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
						
							<img src="../static/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Logs</h1>
								<h6 class="tm-site-description">Fight History</h6>	
							</div>
						</div>
						<nav class="col-md-8 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="logs.html" class="tm-nav-link">Logs</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<!--<h2 class="col-12 text-center tm-section-title">About Simple House</h2>
				<p class="col-12 text-center">This is about page of simple house template. 
                You can modify and use this HTML template for your website. Total 3 HTML pages included in this template. Header image has a parallax effect.</p>-->
			</header>


				

<!-- container-fluid -->
				<div id="pricing" class="container-fluid">
				<table class="table table-bordered table-striped text-center">
				   <thead>
				       <tr>
				          <th>start_time</th>
				          <th>end_time</th>
				          <th>path</th>
				       </tr>
				   </thead>

				   <tbody>


				       <tr>
				           <td></td>
				           <td></td>
				           <td></td>
				       </tr>
				       <tr>
				           <td></td>
				           <td></td>
				           <td></td>
				       </tr>
				       <tr>
				           <td></td>
				           <td></td>
				           <td></td>
				       </tr>

				       
				   </tbody>
				</table>
				  



			<!--<div class="tm-container-inner tm-persons">
				<div class="row">
				
	
				</div>
			</div>
			<div class="tm-container-inner tm-featured-image">
				<div class="row">
					
				</div>
			</div>
			<div class="tm-container-inner tm-features">
				<div class="row">
					
					
				</div>
			</div>
			<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						
						
					</div>
				</div>
			</div>-->
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2021 ITI Fight Detection 
            
            <a rel="nofollow" href="https://github.com/MohamedSebaie/Fight_Detection_From_Surveillance_Cameras-PyTorch_Project">Fight Detection GitHub</a></p>
		</footer>
	</div>
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/parallax.min.js"></script>
</body>
</html>